body {
    box-sizing: border-box;
    margin: 0;
}

header, main, footer {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;    
    padding: 90px;
    background-color: #D9D9D9;
}

.intro {
    background-color: #5278B1;
    padding-bottom: 30px;
}

.intro h2 {
    text-align: center;
    padding: 40px;
    font-weight: 500;
}

.intro-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.intro-names {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

.intro-wrapper div img {
   border-radius: 50%; 
}

.kitti-intro-img,
.dénes-intro-img,
.gergely-intro-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.denes-intro-wrapper, 
.gergely-intro-wrapper {
    margin-top: 70px;
}

.btn,
.collapse {
    margin-right: 5px;
}

.dénes-main-wrapper,
.gergely-main-wrapper,
.kitti-main-wrapper {
    background-color: #D9D9D9;
    display: flex;
    padding: 80px;
}

.denes-intro-text,
.gergely-intro-text,
.kitti-intro-text  {
    line-height: 32px;
    max-width: 520px;
    margin: 0 auto;
}   

.dénes-main-wrapper img,
.gergely-main-wrapper img,
.kitti-main-wrapper img  {
   width: 250px;
   box-shadow: 6px 6px 0px #1D3557;
   border-radius: 10px;
}

 .kitti-main-wrapper{
    background-color: #5278B1;
}

footer {
    background-color: #5278B1;
    text-align: center;
    font-weight: bold;
    padding: 40px;
    margin: 0;
}

.card-body {
    width: 300px;
}

@media screen and (max-width: 1900px) {
    .dénes-main-wrapper,
    .gergely-main-wrapper,
    .kitti-main-wrapper {
        flex-wrap: wrap;
    }
    .dénes-main-wrapper img,
    .gergely-main-wrapper img,
    .kitti-main-wrapper img {
        margin-right: 10px;
        margin-bottom: 15px
     }
    .kitti-main-wrapper img {
        order: 1;
     }
     .kitti-intro-text {
        order: 2;
    }
     .kitti-main-wrapper .btn-group {
        order: 3;
     }
  }

  @media screen and (max-width: 1024px) {
    .card-body {
        width: 260px;
    }
  }

  @media screen and (max-width: 960px) {
    .denes-intro-text,
    .kitti-intro-text,
    .gergely-intro-text {
        max-width: 640px;
        margin: 0;
    }
    .card-body {
        width: 220px;
    }
    .btn {
        margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .btn-group {
        display: flex;
        flex-direction: column;
    }
  }

